body {
	background-color: #FFF;
	transition: background-color 0.6s ease;
}

#display {
	width: 100%;
	height: 100%;
}

.hover {
	border-bottom: 4px solid #999;
	border-radius: 3px;
	position: absolute;
	padding: 5px;
	background-color: #DDD;
	left: 45%;
	top: 45%;
}

button {
	background-color: #EEE;
	border: 1px solid #999;
	padding: 7px 18px;
}

.fail {
	background-color:#FAA;
}

.succeed {
	background-color:#AFA;
}